#about {
  //border: 1px solid black;
}
#about p {
  margin: 25px 0;
  color: #5b5b5b;
  font-size: 17px;
  line-height: 32px;
}
#about p:nth-of-type(1) {
  margin-top: 40px;
}
.about-image {
  display: none;
}
#avatar {
  display: block;
  margin: 0 auto;
}

.fadeInUp div {
  width: 120px;
}
.fadeInUp div > div:first-child {
  width: 66%;
}
.fadeInUp div > div:last-child {
  width: 33%;
}
