#about p {
  margin-top: 50px;
  color: #5b5b5b;
  font-size: 17px;
}
.about-image {
  display: none;
}
#avatar {
  //border: 1px solid black;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.fadeInUp div {
  width: 120px;
}
.fadeInUp div > div:first-child {
  width: 66%;
}
.fadeInUp div > div:last-child {
  width: 33%;
}
