#footer {
  position: relative;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
  padding: 30px 25px;
  margin-top: -2px;
  //border: 1px solid black;
}
#footer p {
  margin-bottom: 5px;
  font-size: 15px;
}

#footer span {
  white-space: nowrap;
}
.scroll-to-top {
  position: absolute;
  top: 0;
  right: 50px;
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 3px;
  border: none;
  background-color: #6674dd;
  cursor: pointer;
  color: white;
  font-size: 30px;
}
