@media (min-width: 640px) {
  .bl_1 {
    display: block;
    top: 430px;
    left: 70%;
    width: 20px;
    height: 20px;
  }
  .bl_2 {
    top: 150px;
    left: 70%;
    width: 35px;
    height: 35px;
  }
  .bl_3 {
    display: block;
    top: 480px;
    left: 50%;
    width: 15px;
    height: 15px;
  }
  ///////////////
  .bl_4 {
    top: 340px;
    left: 85%;
  }
  .bl_5 {
    top: 280px;
    left: 68%;
    width: 18px;
    height: 18px;
  }
  .bl_6 {
    top: 250px;
    left: 75%;
    width: 20px;
    height: 20px;
  }
  .tech-item {
    width: 25%;
  }
  .tool-item {
    width: 30%;
  }
  .more-tools-title {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .portfolio-item {
    width: 48%;
  }
  .portfolio-items {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items li:last-child {
    margin-right: 30px;
  }

  .nav-items a {
    font-size: 18px;
    color: white;
  }
  .nav-items a::before {
    color: white;
  }
  .nav-items a::after {
    background: white;
  }

  .burger {
    display: none;
  }
  .hero-bg {
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: -1;
    height: 80%;
  }
  .hero-bg.fadeLeft {
    animation: fade-left 0.5s;
    animation-fill-mode: both;
  }
  #hero-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 100vh;
  }

  .hero-content {
    margin: 0 50px;
    padding-top: 0px;
    width: 100%;
    font-size: 55px;
  }
  .hero-content h4 span {
    padding: 5px 10px;
    font-size: 24px;
  }
  .hero-content a {
    margin: 50px 0 0 0;
    padding: 15px 20px;
    font-size: 20px;
  }

  .bl_1 {
    display: block;
    top: 20%;
    left: 350px;
    width: 20px;
    height: 20px;
  }
  .bl_2 {
    top: 20%;
    left: 450px;
    width: 35px;
    height: 35px;
  }
  .bl_3 {
    display: block;
    top: 25%;
    left: 200px;
    width: 15px;
    height: 15px;
  }
  ///////////////
  .bl_4 {
    top: 78%;
    left: 570px;
  }
  .bl_5 {
    top: 72%;
    left: 450px;
    width: 18px;
    height: 18px;
  }
  .bl_6 {
    top: 67%;
    left: 500px;
    width: 20px;
    height: 20px;
  }
  .section-about,
  .section-technologies,
  .section-portfolio {
    flex-direction: row;
    margin: 0 50px;
  }
  #avatar {
  }
  .about-content {
    width: 50%;
  }
  .about-image {
    display: block;
    width: 50%;
  }
  .tech-item {
    width: auto;
    flex: 1;
  }
  .tech-item-icon img {
    height: 70%;
  }
  .tech-item-name {
    padding-top: 15px;
  }
  .tool-item {
    width: 20%;
  }
}

@media (min-width: 1280px) {
  .hero-bg {
    height: 110%;
  }
  .hero-content {
    margin: 0 100px;
    width: 100%;
  }
  .section-about {
    margin: 200px 100px 0 100px;
    padding-top: 180px;
  }

  .section-technologies,
  .section-portfolio {
    margin: 0 100px;
    padding-top: 180px;
  }
  .section-title {
    font-size: 40px;
  }
  #about p {
    margin-top: 80px;
    color: #5b5b5b;
    font-size: 18px;
  }
  #tech-list {
    margin-top: 80px;
  }
  .tool-item {
    width: 15%;
  }
  .more-tools-title {
    font-size: 24px;
  }
  .more-tools-title {
    margin: 60px 0 0 0;
  }
  .more-tools {
    margin-top: 50px;
  }
}
