@media (min-width: 640px) {
  #nav-container #nav-logo {
    font-size: 1.3rem;
  }
  .hero-img {
    bottom: -5%;
    right: 10%;
    width: 300px;
  }
  .hero-content h4 span {
    padding: 10px 15px;
  }
  .hero-content {
    font-size: calc(5vw + 16px);
  }
  .bl_1 {
    display: block;
    top: 350px;
    left: 75%;
    width: 20px;
    height: 20px;
  }
  .bl_2 {
    top: 150px;
    left: 70%;
    width: 35px;
    height: 35px;
  }
  .bl_3 {
    display: block;
    top: 650px;
    left: 23%;
    width: 15px;
    height: 15px;
  }
  ///////////////
  .bl_4 {
    top: 550px;
    left: 25%;
  }
  .bl_5 {
    top: 580px;
    left: 10%;
    width: 18px;
    height: 18px;
  }
  .bl_6 {
    top: 250px;
    left: 85%;
    width: 20px;
    height: 20px;
  }
  .tech-item {
    width: 25%;
  }
  .tool-item {
    width: 30%;
  }
  .more-tools-title {
    font-size: 20px;
  }
  #contact-form .form-field:nth-of-type(1),
  #contact-form .form-field:nth-of-type(2) {
    width: 49%;
    margin-bottom: 0;
    margin-top: 0;
  }
  #contact-form .form-field:nth-of-type(1) {
    float: left;
  }
  #contact-form .form-field:nth-of-type(2) {
    float: right;
  }
}

@media (min-width: 768px) {
  .portfolio-item {
    width: 48%;
  }
  .portfolio-items {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .nav-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-items li:last-child {
    margin-right: 30px;
  }

  .nav-items a {
    font-size: 18px;
    color: white;
  }
  .nav-items a::before {
    color: white;
  }
  .nav-items a::after {
    background: white;
  }

  .burger {
    display: none;
  }
  .hero-bg {
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    z-index: -1;
    height: 80%;
  }
  .hero-bg.fadeLeft {
    animation: fade-left 0.5s;
    animation-fill-mode: both;
  }
  #hero-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    height: 100vh;
  }

  .hero-img {
    width: 400px;
  }

  .illustration-msg {
    display: block;
    animation: illustration 2s infinite alternate ease-in-out;
  }

  .hero-content {
    max-width: 1680px;
    padding-top: 0px;
    margin: 0 50px;
    font-size: 55px;
  }
  .hero-content h4 span {
    padding: 10px 15px;
    font-size: 23.5px;
  }
  .hero-content a {
    padding: 15px 20px;
    font-size: 20px;
  }

  .bl_1 {
    display: block;
    top: 35%;
    left: 750px;
    width: 20px;
    height: 20px;
  }
  .bl_2 {
    top: 45%;
    left: 620px;
    width: 35px;
    height: 35px;
  }
  .bl_3 {
    display: block;
    top: 55%;
    left: 750px;
    width: 15px;
    height: 15px;
  }
  ///////////////
  .bl_4 {
    top: 78%;
    left: 570px;
  }
  .bl_5 {
    top: 72%;
    left: 450px;
    width: 18px;
    height: 18px;
  }
  .bl_6 {
    top: 67%;
    left: 500px;
    width: 20px;
    height: 20px;
  }
  .section-about,
  .section-technologies,
  .section-portfolio,
  .section-contact {
    flex-direction: row;
    width: 90%;
    max-width: 1650px;
    margin: 1px auto;
  }
  #avatar {
    height: 300px;
  }
  .about-content {
    width: 55%;
    padding-right: 50px;
    box-sizing: border-box;
  }
  .about-image {
    display: block;
    width: 45%;
  }
  // .tech-item {
  //   width: auto;
  //   flex: 1;
  // }
  .tech-item-icon img {
    height: 70%;
  }
  .tech-item-name {
    padding-top: 15px;
  }
  .tool-item {
    width: 20%;
  }
  #portfolio {
    padding-bottom: 150px;
  }
  .thumbnail-overlay {
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s, width 0.2s, height 0.2s, visibility 0.2s;
  }
  .portfolio-item:hover .thumbnail-overlay {
    width: 100%;
    height: 100%;
  }
  .overlay-content {
    opacity: 0;
    visibility: hidden;
    transition: 0s;
  }
  .portfolio-item:hover .overlay-content {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0.4s;
    transition-delay: 0.2s;
  }
  .overlay-content,
  .overlay-content .check {
    font-size: 20px;
  }
  #contact-more,
  #contact-form {
    width: 50%;
  }
  .contact-items {
    padding-bottom: 80px;
  }
  #contact-more {
    margin-top: 0px;
  }
  #contact-form {
    max-width: none;
    text-align: left;
  }
  #contact-form form input,
  #contact-form form textarea,
  #submit {
    height: 55px;
    font-size: 16px;
  }
  #submit {
    width: 180px;
  }
  #envelope-icon {
    max-width: 480px;
  }
  .own-mail {
    height: 55px;
    max-width: 320px;
    padding: 0 30px;
  }
  #e-mail {
    width: 35px;
    height: 35px;
  }
  .contact-more a img:hover {
    filter: drop-shadow(0px 0px 10px #6495ed);
  }
  #send-message {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
    display: inline-block;
    margin-left: 50px;
    color: rgb(0, 165, 0);
    transition: 0.5s;
  }

  #send-message-none {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    margin-left: 50px;
    transform: translateY(-30px);
    transition: 0.5s;
  }
  #footer p {
    font-size: 16px;
  }
  .scroll-to-top {
    display: block;
  }
}

@media (min-width: 1280px) {
  .hero-bg {
    height: 110%;
  }
  .hero-content {
    margin: 0 100px;
  }
  .hero-img {
    bottom: auto;
    top: 20%;
    width: 600px;
  }
  .section-about {
    margin: 0px auto;
    padding-top: 180px;
    padding-bottom: 200px;
  }

  .section-technologies,
  .section-portfolio,
  .section-contact {
    padding-top: 180px;
  }
  .section-title {
    font-size: 40px;
  }
  #about p {
    margin: 45px 0;
    color: #5b5b5b;
    font-size: 18px;
  }
  #about p:nth-of-type(1) {
    margin-top: 80px;
  }
  #avatar {
    height: 500px;
  }
  #tech-list {
    margin-top: 80px;
  }
  .tech-item {
    width: auto;
    flex: 1;
  }
  .tool-item {
    width: 15%;
  }
  .more-tools-title {
    font-size: 24px;
  }
  .more-tools-title {
    margin: 60px 0 0 0;
  }
  .more-tools {
    margin-top: 50px;
  }
  #portfolio {
    //padding-bottom: 250px;
  }
  #contact-form h4 {
    font-size: 18px;
  }
}
@media (min-width: 1900px) {
  #nav-container {
    max-width: none;
    width: 80%;
  }
}
