.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin: 1px 25px;
  color: $primary;
  padding-top: 90px;
}
.section-technologies,
.section-portfolio,
.section-contact {
  font-family: "Roboto", sans-serif;
  margin: 1px 25px;
  color: $primary;
  padding-top: 90px;
  text-align: center;
}
.section-title {
  position: relative;
  margin: 0;
  font-size: 32px;
  text-align: left;
}
