@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  outline: none;
  background-color: white;
}

button:focus {
  outline: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html.disablescroll {
  overflow-y: hidden;
}
